.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    padding: 10px;
    padding-bottom: 20px;

    .attach-file,
    .send-message {
        all: unset;
        display: grid;
        place-content: center;
        border-radius: 100vmax;
        padding: 10px;

        &:hover {
            background-color: var(--secondary-bg-color);
        }

        img {
            height: 40px;
            width: 40px;
        }
    }

    .message-input {
        all: unset;

        min-height: 2rem;
        width: 70%;
        padding: 0.35rem 1rem 0.35rem 1rem;
        max-width: 70%;

        border-radius: 100vmax;
        border: 1.5px solid var(--primary-border-color);
        background-color: var(--secondary-bg-color);
        color: var(--primary-text-color);
    }
}