.chat-bubble {
    display: flex;
    gap: 0.5rem;

    max-width: 80%;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;

    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);

    .text {
        overflow-wrap: anywhere;

        .clamp-control {
            all: unset;
            cursor: pointer;

            white-space: nowrap;

            margin-left: 6px;

            &:hover {
                text-decoration: underline;
            }
        }
    }


    .time-stamp {
        align-self: flex-end;
        font-size: 10px;
    }


    &.sent {
        align-self: flex-end;
        border-radius: 15px 15px 0 15px;
    }

    &.received {
        align-self: flex-start;
        border-radius: 15px 15px 15px 0;
    }
}